@import "../styles/colors";

.Login-content {
  margin-top: 3em;
}

.Login-img {
  display: block;
  width: 80%;
  margin: 1em auto 0;
}

.Login-tutorial-photo {
  display: block;
  width: 100%;
  margin: 1em auto 0;
}

.TutorialSwitch {
  color: $link-color;
  font-weight: bold;
  margin-left: 1.5em;
}

.progress {
  margin-top: 1em;
}

.waitingForData {
  margin-top: 2em;
  text-align: center;
}