@import "../styles/colors";

.App-content.Logout {
  color: black;

  .row {
    text-align: center;
  }

  img {
    display: block;
    width: 11.875em;
    height: 7.5em;
    margin: 2em auto;
  }

  a {
    display: inline-block;
  }

  .Description {
    color: $grey;
  }
}